.heading {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

#home-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}